<div class="jumbotron text-center">
  <h1>MEAN Auth App</h1>
  <p class="lead">
    Basic MEAN auth app boilerplate using JWT.
  </p>
</div>

<div class="row">
  <div class="col-md-4 text-center">
    <h3>Mejores Servicios</h3>
    <p>Nuestra aplicación cuenta con los mejores servicios en la nación.</p>
  </div>
  <div class="col-md-4 text-center">
    <h3>100% Seguro</h3>
    <p>Está probado y probado. Es completamente seguro.</p>
  </div>
  <div class="col-md-4 text-center">
    <h3>Fácil de Implementar</h3>
    <p>Es realmente fácil de integrar en tu aplicación.</p>
  </div>
</div>